<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='styles_pregled.css') }}" />
<meta name="author" content="Marko" />
<title>Pregled prisutnosti</title>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <h1> Pregled prisutnoti</h1>
    </header>
    <table>
        <tr>
            <th>Redni broj</th>
            <th>Korisnik</th>
            <th>Vremenska oznaka</th>
        </tr>

        {%for row in pregled %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>